page-result {

}

.headerRow{
    background-color: darkolivegreen;
    color: whitesmoke;
    padding: 5px 0px;
    margin: 5px 2px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.dataRow{
    padding: 5px 0px;
    margin: 5px 2px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

h2{
    color: dodgerblue;
}

.costheaderRow{
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 5px 0px;
    margin: 5px 2px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.totalRow{
    color: dodgerblue;
    font-weight: bold;
    padding: 5px 0px;
    margin: 5px 2px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.ratioGrid{
    font-size: 0.7em;
}